/* font shit */
* {
    font-family: "Minecraft", monospace;
    font-size: 21px;
}

@font-face {
    font-family: "Minecraft";
    src: url("font/1_Minecraft-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/2_Minecraft-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/3_Minecraft-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/4_Minecraft-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
/* hover */
.hover {
    position: absolute;
    background-color: white;
    border: black;
    visibility: hidden;
    z-index: +1;
    bottom: 100%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #000000;
    padding: 2px;
    cursor: initial;
    color: black;
}
.hover-source {
    position: relative;
    cursor: pointer;
}
.hover-source:hover .hover {
    visibility: visible;
}
/* other shit */
.wrapper {
    display: flex;
    justify-content: space-evenly;
}
.input-panel {
    width: 40%;
}
.output-panel {
    width: 40%;
}
h1 {
    text-align: center;
    font-size: 25px;
}
#input {
    width: 700px;
    height: 400px;
    padding: 5px;
    margin-bottom: 5px;
}
.output {
    position: relative;
    background-image: url("background.jpg");
    background-size: cover;
    height: 500px;
    width: 700px;
}
#output {
    position: absolute;
    background-color: rgba(1, 1, 1, 0.4);
    height: 360px;
    width: 640px;
    padding: 5px;
    top: 5%;
}
body {
    background-color: gray;
}
